:root {
  /* color */
  --nav-bg-light: #CDCBC7;
  --nav-bg-dark: #192341;
  --asaid-bg: #31416D;
  --cv-btn: #69C480;
  --subtitle-fone: #A578E1;
  --text-cv-btn: #FFFFFF;
  --main-bg: #F2F3F5;
  --text-light:  #F2F3F5;
  --text-light-hover:  #AEC3D9;;
  --text-dark:#31416D;
  --text-dark-hover: #192341;
  --line-bg: #AEC3D9;

}
